{% extends 'admin/panel.html.twig' %}

{% trans_default_domain "translations" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/question.new.css?v1.62") }}">
{% endblock %}

{% block content %}
    <div class="loader"></div>
    <div class="container content">
        {% include "admin/question_create_form.html.twig" %}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("static/scripts/admin/question.js?v1.73") }}"></script>
    <script src="{{ asset("static/scripts/jquery.newquestion.js?v1.91") }}"></script>
{% endblock %}
