


{% block body %}
    <div class=" display-table ">
        <div class="display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell  box panel" id="navigation">

                <div class="navi">
                    <ul>
                        <li><a href="#">Create Question</a></li>
                        <li><a href="#"><span>Create Quiz</span></a></li>
                        <li><a href="#"><span>Entity Manager</span></a></li>
                        <li><a href="#"><span>Quiz Manager</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}