{% extends 'base.html.twig' %}

{% block body %}
    <div class="card panel">
        <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Create Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Create Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Entity Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Quiz Manager</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}