{% extends 'base.html.twig' %}

{% block body %}
    <div class="card panel">
        <div class="card-body dark bg-dark expand-lg ">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <button class="btn btn-sm align-middle btn-outline-secondary size" type="button"><a class="nav-link text-white" href="#">Create Question</a></button>
                </li>
                <li class="nav-item">

                    <button class="btn btn-sm align-middle btn-outline-secondary size" type="button"><a class="nav-link text-white" href="#">Create Quiz</a></button>
                </li>
                <li class="nav-item">

                    <button class="btn btn-sm align-middle btn-outline-secondary size" type="button"><a class="nav-link text-white" href="#">Entity Manager</a></button>
                </li>
                <li class="nav-item">

                    <button class="btn btn-sm align-middle btn-outline-secondary size" type="button"><a class="nav-link text-white" href="#">Quiz Manager</a></button>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}