{% extends 'base.html.twig' %}

{% trans_default_domain "validators" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/question.css?v1.2") }}">
{% endblock %}

{% block body %}
        <div class="header"></div>
    <div class="container content">
        <div class="col-md-6 col-md-offset-5 question-handler">
            <div class="col-lg-12 content">
                <h1 class="question-header">Question name</h1>
                <input class="question-name-input" placeholder="input question name">
                <button class="submit-question">Submit</button>
                <p>Answers:</p>
                <div class="col-md-6 answers">

                </div>
                <input class="answer-name-input" placeholder="input answer name">
            </div>
        </div>
        <div class="wrapper">
            <div class="col-md-6 col-md-offset-5 answer-handler">
            </div>
        </div>
    </div>
    <div class="footer"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'translations' }) }}"></script>
    <script src="{{ asset("static/scripts/admin/question.js?v1.1") }}"></script>
{% endblock %}
