{% extends 'admin/panel.html.twig' %}

{% trans_default_domain "translations" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/quiz.css?v1.20") }}">
{% endblock %}

{% block content %}
    <div>

    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("static/scripts/admin/quiz.js?v1.56") }}"></script>
{% endblock %}
