.admin-navbar{
    border: 1px solid black;
    border-radius: 7px;
    background: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0 0 10px black;
    align-items: inherit !important;
    text-align: left;
}

body {
    background-color: #534f9f !important;
}


.active a{
    background-color: #8b51f5;
    border-radius: 7px !important;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

li a:hover{
    background-color: limegreen !important;
    border-radius: 7px !important;
    color: white !important;
    text-align: center;
}


li a:active{
    background-color: limegreen !important;
    border-radius: 7px !important;
    color: white !important;
    text-align: center;
}

li a:active{
    background-color: limegreen;
    border-radius: 7px;
}

.navbar-content{
    text-align: left;
    display: block;
    color: white;
    align-items: inherit !important;
}

.page-link{
    background: rgba(0,0,0,0.3) !important;
    border: 1px solid #8b51f5 !important;
    color: white !important;
}

.page-link:focus{
    background-color: limegreen;
}

.page-item.active .page-link {
    border-color: limegreen !important;
    background-color: limegreen !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../../images/Gear.svg") 50% 50% no-repeat black;
    opacity: 0.7;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}