.admin-navbar{
    border: 1px solid black;
    border-radius: 7px;
    background: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0 0 10px black;
    align-items: inherit !important;
    text-align: left;
}

body {
    background-color: #534f9f !important;
}

.navbar-content{
    text-align: left;
    display: block;
    color: white;
    align-items: inherit !important;
}

.page-link{
    background: rgba(0,0,0,0.3) !important;
    border: 1px solid #8b51f5 !important;
    color: white !important;
}

.page-link:focus{
    background-color: limegreen;
}

.page-item.active .page-link {
    border-color: limegreen !important;
    background-color: limegreen !important;
}