.question-handler{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.6);
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.add-answer-btn{
    background-color: #8b51f5;
    color: white;
}

.add-answer-btn:hover{
    background-color: limegreen;
}