.question-creator{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.6);
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.answers-wrapper{
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    border: 1px solid black;
    padding: 15px;
}

.add-answer-btn{
    background-color: #8b51f5;
    color: white;
}

.add-question-btn{
    background: #8b51f5;
    color: white;
}

.add-question-btn:hover{
    background-color: limegreen;
}

.selected{
    border: 1px solid limegreen !important;
    box-shadow: 0 0 10px #32cd32 !important;
    background-color: limegreen !important;
    border-radius: 7px;
    cursor: pointer;
}

.question-wrapper{
    padding: 15px;
    border-radius: 7px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

.answer-wrapper{
    margin-top: 15px;
    box-shadow: 0px 0px 37px 0px rgba(91,66,130,1);
    border-radius: 7px;
    border: 1px solid black !important;
}

.wrapped{
    background: transparent !important;
    color: white !important;
    border: 0px solid white !important;
    outline: none !important;
    overflow:hidden !important;
}

.add-answer-btn:hover{
    background-color: limegreen;
}