.user-creator {
    color: white;
    padding: 15px;
    border-radius: 7px;
}

.user-header {
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
}

.button-size {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.selected{
    display: block !important;
}

.bg-color {
    background: rgba(0, 0, 0, 0.6);
}

.success, .error{
    position: fixed !important;
    width: 80%;
    z-index: 10000;
    display: none;
}

.btn-unblock{
    vertical-align: inherit !important;
    display: block;
    width: 100%;
}

.user-indent {
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-color {
    color: white;
}

.select{
    width: 10% !important;
}

.filter-form{
    width: 100%;
}