.quiz-start {
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    margin-top: 100px !important;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 50px;;
}

.bg-color {
    background: rgba(0, 0, 0, 0.6);
}

.text-color {
    margin: 0 auto ;
    text-align: center;
    color: white;
}

.start-btn {
    background-color: #8b51f5;
    color: #ffffff;
    width: 250px;
    height: 45px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}