.question{
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    box-shadow: 0 0 10px black;
    padding: 15px;
    height: 200px;
}

.answer{
    text-align: left;
    border:1px solid #8b51f5;
    box-shadow: 0px 0px 37px 0px rgba(91,66,130,1);
    margin-top: 10px;
    padding: 5px;
    border-radius: 7px;
}

.selected{
    border: 1px solid limegreen;
    box-shadow: 0px 0px 37px 0px limegreen;
    background-color: limegreen;
}

.submit-btn{
    margin-top: 10px;
}