{% extends 'base.html.twig' %}


{% trans_default_domain "translations" %}




{% block body %}

    <div class="container">
        <div class="header">

        </div>
        <a href="{{ path("homepage") }}" class="btn btn-large main-page-btn" >Go to main page</a>
    </div>

{% endblock %}