body {
    background-image:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.color_navbar {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.content{
    min-height: 600px;
}

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6)!important;
}

.panel {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-color: rgba(0, 0, 0, 0.6) !important;
    width: 12rem;
    height: 22rem;
}
.header {
    background-color: rgba(0, 0, 0, 0.6)!important;
}

.size {
    width: 9rem;

}