#username {
    background-color: #ebebeb;
    width: 250px;
    height: 40px;
}

#password {
    background-color: #ebebeb;
    width: 250px;
    height: 40px;
}

body {
    background-image:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#login {

    background-color: #8b51f5;
    color:#ffffff;
    width: 250px;
    height: 45px;
}

.parent {
    color: white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
    width: 350px;
    height: auto;
    padding: 40px 40px 30px 50px;
    background: rgba(0, 0, 0, 0.6);
}

.login-header{

    font-size: 20px;
}

a{
    cursor: pointer;
}

.error{
    color: #942a25;
    font-size: 17px;
}

.register-block{
    font-size: 17px;
    text-align: center;
}


