body {
    background-image:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.parent {
    color: white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
    width: 350px;
    height: auto;
    padding: 40px 40px 30px 50px !important;
    background: rgba(0, 0, 0, 0.6);
}

.form-control{
    background-color: #ebebeb !important;
    height: 40px !important;
    width: 250px !important;
}

.child {
    padding: 40px;
    padding-left: 50px;
}

.error {
    color: #942a25;
    font-size: 17px;
}

.login-header {

    font-size: 20px;
}
#login {

    background-color: #8b51f5;
    color: #ffffff;
    width: 250px;
    height: 45px;
}