<html>
<head>
    <link rel="stylesheet" href="{{ asset("static/styles/user_by_token_not_found.css") }}">
    <link rel="stylesheet" href="{{ asset("static/styles/bootstrap.min.css") }}">
</head>
<body>
    <div class="col-4 user-token bg-color text-color">
        <div class="container text">
            <h1 >User with such token is not found!</h1>
            <h2><a class="text-white" href="{{ path('login') }}">Go to login page.</a></h2>
        </div>
    </div>
</body>