body{
    background-color: #534f9f !important;
}

.parent {
    color: white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
    width: 700px ;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    height: auto;
    padding: 40px 50px 20px 50px;
    background: rgba(0, 0, 0, 0.6);
}